h1 
{
    text-align: center;
    margin-top: 20px;
}

table 
{
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td 
{
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th 
{
    background-color: #f2f2f2;
}
