body
{
    width:100%;
    height:500px;
    font-family:san-serif;
    
}

h1
{
    text-align:center;
}

form
{
    width:300px;
    margin-left:20px;
    
}

form label
{
    display:flex;
    margin-top:20px;
    font-size:18px;
}

form input
{
    width:100%;
    padding:7px;
    border:1px solid gray;
    border-radius:6px;
}

input[type="submit"]
{
    width:320px;
    height:35px;
    margin-top:20px;
    border:none;
    background-color:#ff7200;
    font-size:18px;
    cursor:pointer;
}

p
{
    text-align:center;
    padding-top:20px;
    font-size:15px;
}

.signup
{
    width:400px;
    height:680px;
    margin:auto;
    background:rgba(255, 255, 255, 0.8);
    border-radius :0px;
    padding:20px 20px;
    margin-top:20px;
    
}

.already
{
    font-size: 15px;
}

.error 
{
    color: rgb(250, 5, 5);
    font-size: 12px;
}
